.hero-wrapper {
  display: flex;
  padding: 0 6rem;
  height: 40rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  .left,
  .right {
    max-width: 50%;
    flex: 1;
  }

  .right svg:nth-child(1) {
    position: absolute;
    top: -14rem;
    z-index: -1;
  }
  .right svg:nth-child(2) {
    position: absolute;
    top: 3rem;
    right: -16rem;
    z-index: -2;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-weight: 200;
      letter-spacing: 2px;
      font-size: 4rem;
    }
    p {
      margin: 2rem 0;
      letter-spacing: 1.2px;
      line-height: 30px;
      width: 450px;
      color: hsl(233, 8%, 62%);
      font-size: 1.1rem;
    }
    button {
      width: 250px;
      padding: 15px 1rem;
      border-radius: 20px;
      color: white;
      border: none;
      background: linear-gradient(90deg, #31d35c, #2bb7da);
      font-weight: 700;
    }
  }
}
.hero-phone {
  position: absolute;
  top: -7rem;
  right: -7rem;
  z-index: 2;
}
@media screen and (max-width: "500px") {
  .hero-wrapper {
    flex-direction: column;
    padding: 0 1rem;
    .left {
      order: 2;
      max-width: 100%;
      h1 {
        font-size: 2rem;
        text-align: center;
      }
      p {
        width: fit-content;
        margin: 1rem 0;
        text-align: center;
      }
    }
    .right {
      order: 1;
      flex: none;
      height: 25rem;
      svg {
        width: 700px;
      }
      svg:nth-child(1) {
        left: -9rem;
      }
      svg:nth-child(2) {
        left: -19rem;
        top: -10rem;
      }
    }
  }
  .hero-phone {
    height: 400px;
    right: 1.5rem;
    top: -2rem;
  }
}
