.hero-wrapper {
  display: flex;
  padding: 0 6rem;
  height: 40rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  .left,
  .right {
    max-width: 50%;
    flex: 1;
  }

  .right svg:nth-child(1) {
    position: absolute;
    top: -14rem;
    z-index: -1;
  }
  .right svg:nth-child(2) {
    position: absolute;
    top: 3rem;
    right: -16rem;
    z-index: -2;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-weight: 200;
      letter-spacing: 2px;
      font-size: 4rem;
    }
    p {
      margin: 2rem 0;
      letter-spacing: 1.2px;
      line-height: 30px;
      width: 450px;
      color: hsl(233, 8%, 62%);
      font-size: 1.1rem;
    }
    button {
      width: 250px;
      padding: 15px 1rem;
      border-radius: 20px;
      color: white;
      border: none;
      background-color: hsl(136, 65%, 51%);
      font-weight: 700;
    }
  }
}
.hero-phone{
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: 2;
}